################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebsite/bin
/MyWebsite/obj
/MyWebsite/node_modules
.vs
